.card-wall {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  
  .card-wall-wrapper {
    width: 100%;
    min-height: 40px;
    background-color: #DFE3E6;
    border-radius: 3px;

    > p {
      font-size: 20px;
      line-height: 24px;
      margin: 8px;
      color: #17394d;
      border-bottom: 1px solid #000
    }
  }

  .card-wall-content {
    width: 272px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
  }
}
