.App {
  height: 100%;
  background-color: rgba(126, 196, 243, 0.068);
}

.board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  margin-top: 45px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  top: 10px;
  right: 4%;
  bottom: 4%;
  left: 4%;
}
