<HTML>
<BODY>
<head>
  <title>New Product</H1></title>
</head>
<form action='/upload' method='post' encType='multipart/form-data'>
  ID: <input type='text' name='id' required><br>
  Name: <input type='text' name='name' required><br>
  Price: <input type='number' name='price' value=0><br>
  Stock: <input type='number' name='stock' value=0><br>
  Photo: <input type='file' name='sampleFile'><br>
  <input type='submit' value='Create' />
</form>
</BODY>
</HTML>
